<%= render partial: "shared/visitor_topper", locals: { dashboard: true  } %>
<div class="page-title">Merchant Dashboard</div>
<div class="merchant_title">
  <%= @merchant.name %>
</div>
<div id="random-merchant-image">
  <% if @photo %>
    <img src="<%= @photo['urls']['regular'] %>" alt="Random Unsplash Image" class="random-merchant-image">
  <% else %>
    <p><%= @error_message %></p>
  <% end %>
</div>
<div class="seperator"></div>
<div class="container"></div>
<div class="item-sections-header-container">
  <div class="table_div">
    <table class="table_css">
      <thead>
        <tr>
          <th class="table_headers">Items Ready to Ship</th>
        </tr>
      </thead>
      <tbody class="table_body_css">
        <%@merchant.ready_to_ship.each do |item|%>
          <% distinct_invoices = []%>
          <% item.invoice_items.each do |invoice_item|%>
            <% if distinct_invoices.exclude?(invoice_item.invoice_id) %>
              <tr>
                <td><%=item.name%> - Invoice #<%= link_to invoice_item.invoice_id, "/merchants/#{@merchant.id}/invoices/#{invoice_item.invoice_id}"  %> - <%=invoice_item.invoice.created_at.strftime('%A, %B %d, %Y')%></tr>
              </td>
              <% distinct_invoices <<  invoice_item.invoice_id %>
            <%end%>
          <%end%>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="table_div">
    <table class="table_css">
      <thead>
        <tr>
          <th class="table_headers">Favorite Customers</th>
        </tr>
      </thead>
      <tbody class="table_body_css">
        <% counter = 0 %>
        <% @merchant.favorite_customers.each do |customer| %>
          <% counter += 1%>
          <tr>
            <td> <%=counter%>. <%= customer.first_name %>&nbsp;<%= customer.last_name %> -  &nbsp; <%=customer.count%>&nbsp;purchases</td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
