<header>
  <%= link_to "Little Esty Shop", root_path, style: "text-decoration: none; color: black;" %>
</header>
<div id="app-logo">
  <% @photos.first(1).each do |photo| %>
    <%= image_tag photo['urls']['small'] %>
    <p>Photo Credit: <%= photo['user']['name'] %></p>
    <p>Likes: <%= photo['likes'] %></p>
  <% end %>
</div>
<div class="page-topper">
  <h2 id="merchant-admin-name">Admin Dashboard</h2>
  <nav id="nav_bar">
    <ul>
      <% if local_assigns[:dashboard] %>
        <li class="current-menu-item"><%= link_to "Dashboard", admin_path %></li>
      <% else %>
        <li><%= link_to "Dashboard", admin_path %></li>
      <% end %>
      <% if local_assigns[:merchants] %>
        <li class="current-menu-item"><%= link_to "Merchants", admin_merchants_path %></li>
      <% else %>
        <li><%= link_to "Merchants", admin_merchants_path %></li>
      <% end %>
      <% if local_assigns[:invoices] %>
        <li class="current-menu-item"><%= link_to "Invoices", admin_invoices_path %></li>
      <% else %>
        <li><%= link_to "Invoices", admin_invoices_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
