<%= render partial: "shared/admin_topper", locals: { merchants: true  } %>

<p><%= link_to "Create New Merchant", new_admin_merchant_path %></p>

<div class="left-half-div">
<div id="enabled-merchants">
  <h3>Enabled Merchants</h3>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "enabled" %>
    <%= link_to merchant.name, admin_merchant_path(merchant) %>
    <%= button_to "Disable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: { merchant: { status: "disabled"}} %>
    <% end %>
  <% end %>
</div>
<br><br>
<div id="disabled-merchants">
  <h3>Disabled Merchants</h3>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "disabled" %>
    <%= link_to merchant.name, admin_merchant_path(merchant) %>
    <%= button_to "Enable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: { merchant: { status: "enabled"}} %>
    <% end %>
  <% end %>
</div>
</div>

<div class="right-half-div" id="top-merchants">
  <h3>Top Merchants</h3>
  <ol>
    <% @merchants.top_merchants.each do |merchant| %>
    <li>
      <p><%= link_to merchant.name, admin_merchant_path(merchant.id) %> - $<%= merchant.total_revenue/100.00 %> in sales </p>
      <p>Best sales day for <%= merchant.name %> was <%= merchant.best_merchant_sales_day.strftime("%m/%d/%Y") %> </p>
    </li>
<% end %>
</ol>
</div>