<%= render partial: "shared/admin_topper", locals: { merchants: true  } %>

<div class="page-title">Admin Merchants Index</div> 

<p><%= link_to "Create New Merchant", new_admin_merchant_path %></p>

<div id="enabled-merchants">
  <h3>Enabled Merchants</h3>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "enabled" %>
    <%= link_to merchant.name, admin_merchant_path(merchant) %>
    <%= button_to "Disable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: { merchant: { status: "disabled"}} %>
    <% end %>
  <% end %>
</div>

<div id="disabled-merchants">
  <h3>Disabled Merchants</h3>
  <% @merchants.each do |merchant| %>
    <% if merchant.status == "disabled" %>
    <%= link_to merchant.name, admin_merchant_path(merchant) %>
    <%= button_to "Enable #{merchant.name}", admin_merchant_path(merchant), method: :patch, params: { merchant: { status: "enabled"}} %>
    <% end %>
  <% end %>
</div>

<div id="top-merchants">
  <h3>Top Merchants</h3>
  <ol>
    <% @merchants.top_merchants.each do |merchant| %>
    <li><%= link_to merchant.name, admin_merchant_path(merchant.id) %> - $<%= merchant.total_revenue %> in sales</li>
<% end %>
</ol>
</div>