<%= render partial: "shared/admin_topper", locals: { merchants: true  } %>
<div class="page-title">Admin Merchants Show</div>
<p><%= @merchant.name %></p>
<div id="random-merchant-image">
  <% if @photo %>
    <img src="<%= @photo['urls']['regular'] %>" alt="Random Unsplash Image" class="random-merchant-image">
  <% else %>
    <p><%= @error_message %></p>
  <% end %>
</div>
<p><%= link_to "Update Merchant", edit_admin_merchant_path(@merchant) %></p>
