<header>Little Esty Shop</header>
<div id="app-logo" >
  <%= image_tag logo_image[:urls][:small_s3] %>
  <p>Photo Credit: <%= logo_image[:user][:name] %></p> 
  <p>Likes: <%= logo_image[:likes] %></p> 
</div>
<div class="page-topper">
  <h2>Login:</h2>
  <nav class="nav_bar">
    <ul>
      <li><%= link_to "Visitor - Select a Merchant", merchants_path %></li>
      <li> <%= link_to "Admin Dashboard", admin_path %></li>
    </ul>
  </nav>
</div>
<div class="seperator"></div>
<div class="container">
</div>
