

<div class="page-title"><%= @merchant.name%></div>
<br>
<h2>Enabled Items</h2>
  <% @merchant.items.each do |item| %>
    <% if item.status == "enabled" %>
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
      <%= button_to "Disable #{item.name}", merchant_item_path(@merchant, item), method: :patch, params: { item: { status: "disabled" } }  %>
    <% end %>
  <% end %>
<br>
<h2>Disabled Items</h2>
  <% @merchant.items.each do |item| %>
    <% if item.status == "disabled" %>
      <%= link_to item.name, merchant_item_path(@merchant, item) %>
      <%= button_to "Enable #{item.name}", merchant_item_path(@merchant, item), method: :patch, params: { item: { status: "enabled" } }  %>
    <% end %>
  <% end %>
<br>
<%= link_to "Create new item", new_merchant_item_path(@merchant) %>

<h1>Top Selling Items for <%= @merchant.name %></h1>
<% @top_items.each do |item| %>
  <p>
    <%= item.name %> - Top selling date was <%= item.top_selling_date.strftime('%Y-%m-%d') %>
  </p>
<% end %>



