<!DOCTYPE html>
<html>
  <head>
    <title>Little Esty Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <h1 class="main_title">Welcome to Little Esty Shop</h1>
    <div class="merchant_title">
      <h2>Ray's Handmade Jewelry</h2>
      <nav class="main-menu">
        <%= link_to "Dashboard", root_path %>
        <%= link_to "My Items", root_path %>
        <%= link_to "My Invoices", merchant_invoices_path(@merchant) %>
      </nav>
    </div>
    <div class="seperator"></div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
